@import "~bootstrap/scss/bootstrap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

h1,
p {
    margin: 0;
}

// logo settings

.logo_boo {
    width: 200px;
    height: 80px;
    img {
        width: 120%;
        height: 120%;
        object-fit: cover;
        transform: translate(-9%, -3%);
    }
}

.img_ristorante {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img_piatto {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.form-label {
    font-weight: 700;
}

.btn-orange {
    background-color: #ff9653;
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: 700;
}

.gray-hover:hover {
    background-color: gray;
}

.card-shadow {
    box-shadow: 16px 10px 9px 4px rgba(0, 0, 0, 0.3);
}

.button-shadow {
    box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.3);
}

.orange-border {
    border: 2px solid #ff9653;
}

.deliveboo-orange-text {
    color: #ff9653;
}
.deliveboo-orange-background {
    background-color: #ff9653;
}

.lista-piatti {
    max-height: 150px;
    overflow-y: scroll;
}

.all-plt-btn-abs {
    position: absolute;
    top: 16px;
    right: 16px;
}

.relative {
    position: relative;
}
.restaurant-card {
    max-height: 550px;
    min-height: 450px;
}
@media only screen and (max-width: 768px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block; /* Ogni elemento diventa un blocco */
        width: 100%; /* Imposta la larghezza a 100% */
    }

    thead {
        display: none; /* Nascondi l'intestazione della tabella */
    }

    tr {
        margin-bottom: 1rem; /* Aggiungi spazio tra le righe */
    }

    td {
        display: flex; /* Usa Flexbox */
        justify-content: space-between; /* Distribuzione degli spazi */
        padding: 0.5rem 0; /* Aggiungi un padding verticale */
        position: relative;
    }

    td:before {
        content: attr(
            data-label
        ); /* Usa l'attributo data-label per il contenuto */
        font-weight: bold; /* Rendi il testo dell'etichetta grassetto */
        margin-right: 10px; /* Spazio tra l'etichetta e il valore */
    }

    td[data-label]:before {
        flex: 0 0 50%; /* Controlla la larghezza dell'etichetta */
    }
}
